<%- include('../partials/header') %>

<h1>Add Tickets:</h1>

<form id="add-ticket-form" action="/tickets" method="POST"></form>
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <input type="number" name="price">


  <div>Tickets:</div>
  <ul>
    <%- flight.ticket.map(t => `<li>${t.seat}</li>`).join('') %>
  </ul>  


<%- include('../partials/footer') %>